.appointment__table {
    border-collapse: collapse;
    text-align: left;
    position: relative;

    border: 2px solid gray;

    @media screen and (max-width: 720px) {
        thead tr th:nth-last-child(1),
        tbody tr td:nth-last-child(1) {
            display: none;
        }
    }
    @media screen and (max-width: 580px) {
        thead tr th:nth-last-child(2),
        tbody tr td:nth-last-child(2) {
            display: none;
        }
    }
    @media screen and (max-width: 480px) {
        thead tr th:nth-last-child(3),
        tbody tr td:nth-last-child(3) {
            display: none;
        }
    }
}

.appointment__table caption {
    padding: 12px;
}

.appointment__table thead tr th {
    padding: 8px;

    color: white;
    background-color: rgb(32, 32, 56);
}

.appointment__table tbody tr td {
    padding: 8px;
    
    border: 1px solid gray;
}