.dialog__container {
    z-index: 50;
    transition: opacity 0.3s ease;
}
.dialog__container[data-open] {
    opacity: 1;
}
.dialog__container[data-closed] {
    opacity: 0;
}

.dialog__backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog__wrapper {
    position: fixed;
    inset: 0;
    
    display: flex;
    align-items: safe center;
    justify-content: center;
    overflow-y: auto;
}